body{
    background-color: #EDE2DC;
}

/* Botão tópicos (nav encolhida) */
#topicos{
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1em;
    margin-bottom: 0;
    list-style: none;
    display: none;
}

#topicos .dropdown-toggle{
    color: rgba(255,255,255,.5);
}

#topicos .dropdown-toggle:hover{
    text-decoration: none;
    color: rgba(255,255,255,.75);
}

#topicos .dropdown-menu{
    background-color: #e2d6d3; 
    width: 15em;
    min-width: 0em;
    height: 80vh;
    overflow: auto;
}

#topicos .dropdown-menu::-webkit-scrollbar-track
{
	background-color: #e2d6d3;
	border-radius: 10px;
}

#topicos .dropdown-menu::-webkit-scrollbar
{
	width: 10px;
}

#topicos .dropdown-menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ab3b6070;
	background-image: #0000;
}

#topicos .dropdown-divider{
    border-top: 1px solid #c9b9b4;
}

#topicos a{
    color: #AB3B61;
}

#topicos .dropdown-item:hover{
    background-color: #c9b9b4;
}

/* Div dos cartões */
#page{
    margin-top: 1em;
    width: 79vw;
    margin-left: 0.5vw;
    height: 89vh;
    overflow: auto;
    overflow-x: hidden;
}

#page span{
    color: #AB3B61;
}
#page span:hover{
    color: #e45d74;
}

#page .row{
    margin-left: 0.1em;
}

/* Scrollbar personalizada */
#page::-webkit-scrollbar-track
{
	background-color: #EDE2DC;
	border-radius: 10px;
}

#page::-webkit-scrollbar
{
	width: 10px;
}

#page::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #123D6A;
	background-image: #0000;
}

/* Menu lateral */
#side-nav{
    padding-top: 1em;
    width: 20vw;
    height: 55vh;
    overflow: auto;
    background-color: #e2d6d3;
}

#side-nav .nav-link{
    color: #AB3B61;
}

#side-nav .nav-link:hover{
    background-color: #c9b9b4;
}

.texto_sub{
    padding-left: 1em;
    font-size: smaller;
   
}

#side-nav::-webkit-scrollbar-track
{
	background-color: #e2d6d3;
	border-radius: 10px;
}

#side-nav::-webkit-scrollbar
{
	width: 10px;
}

#side-nav::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ab3b6070;
	background-image: #0000;
}

/* Cartões dos alunos */
#cartao{
    border:none;    
    margin-right: 1em;
    width: 25vw;
    background-color: #BBB2B5;
    margin-bottom: 1em;  
}

#cartao h4{
    display: inline-flex;
}

#cartao span{
    font-size: 150%;
}

#cartao h4 i{
    font-style: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#card h6{
    margin-bottom: 0px;
}

.card-body{
    display: table-cell;
    vertical-align: middle;
}

#serie{
    margin-left: 1em;
}

#perguntas .card-header, .btn-link{
    background-color: #d0cce0;
    color: #123D6A;
}

#perguntas .btn-link:hover{
    text-decoration: none;
    color: #316fb3;
}

/* Responsibilidade */
@media only screen and (max-width: 1114px){
    #cartao{
        width: 24vw;
    }

}

@media only screen and (max-width: 991px){
    #topicos{
        display: flex;
    }
    #side-nav{
        display: none;
    }
    #page{
        width: 103vw;
        margin-left: 1vw;
        height: 85vh;
     
    }
    #cartao{
        width: 31vw;
    }
}

@media only screen and (max-width: 718px){
    #cartao{
        width: 47vw;
    }
}

@media only screen and (max-width: 600px){
    #cartao{
        width: 46vw;
    }
}

@media only screen and (max-width: 327px){
    #topicos .dropdown-menu{
        margin-left: -4em;
    }
}

@media only screen and (max-width: 408px){
    #cartao{
        width: 120vw;
    }
}